<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8"/>
    <title>"boke"</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/icon/iconfont.css"/>
    <script src="/stylesheets/jquery-2.0.0.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
		<%- include('qublic.ejs') %>
  </body>
 
</html>