
<div class="Fb">
	<div class="fb" style="margin-top: 100px;">
		<form action="/users/list" method="post" class="fb-1">
			<p>用户名:</p>
			<input type="text"  name="user" class="in1"/>
			<p>邮箱:</p>
			<input type="email"  name="email" class="in1"/>
			<p>评论内容:</p>
			<input type="text"  name="con" class="in2"/>
			<input type="submit"  value="提交" class="in3"/>					
		</form>
		
	</div>			
</div>